.despesa-item {
  min-height: 6rem;
  min-width: 13.7rem;
  max-height: auto;
  padding: 0.3rem;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  border-radius: 7px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  transition: 0.3s;
  cursor: pointer;
  position: relative;
}

.despesa-item h3 {
  max-width: 11rem;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.despesa-item:hover {
  transform: scale(1.04);
  transition: 0.3s ease;
}

.despesa-item-descricao {
  padding-top: 1rem;
  display: flex;
  max-width: 10rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.despesa-item-descricao-valor {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#adicionar-despesa {
  height: 6rem;
  min-width: 6rem;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;
  font-size: 2rem;
}

.btn-remover-despesa {
  position: absolute;
  top: 0.3rem;
  right: 0.3rem;
  height: 1.5rem;
  width: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border: solid 1px rgb(185, 65, 65);
  background-color: white;
  color: white;
  font-size: 0.8rem;
  transition: 0.2s;
}

.btn-remover-despesa .bi {
  transition: 0.2s;
  fill: rgb(185, 65, 65);
}

.btn-remover-despesa:hover {
  transform: scale(1.05);
  transition: 0.2s;
  background-color: rgb(185, 65, 65);
  .bi {
    fill: white;
  }
}

.despesa-item-descricao-categoria {
  display: flex;
  align-items: center;
  flex-direction: column;
}
