@font-face {
  font-family: "Nunito";
  src: url("../assets/fonts/Nunito-VariableFont_wght.ttf");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#gerenciador-page {
  width: 100vw;
  min-height: 100vh;
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  background-color: #f4f3ee;
}
