#graficos-page {
  padding: 20px;
  text-align: center;
  font-family: Arial, sans-serif;
}

.grafico-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.grafico-duplo {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 30px;
}

.grafico-duplo h2 {
  margin-bottom: 10px;
}
