#graficos-page {
  min-height: 100vh;
  width: 100vw;
  padding-top: 3rem;
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: #f4f3ee;
}

.grafico-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.grafico-duplo {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 30px;
}

.grafico-duplo h2 {
  margin-bottom: 15px;
}
